@charset "utf-8";
/* CSS Document */
@font-face {
    font-family:"FS Humana";
    src:url("fsmeweb-regular-fd.eot?") format("eot"), url("fsmeweb-regular-fd.woff") format("woff"), url("fsmeweb-regular-fd.ttf") format("truetype"), url("fsmeweb-regular-fd.svg#fsmeweb-regular-fd") format("svg");
    font-weight:normal;
    font-style:normal;
}
body {
    background:url(../img/header_stript.jpg) left top repeat-x;
    margin:0px;
    padding:0px;
    font:normal 12px/20px Tahoma, Arial, Helvetica, sans-serif;
    color:#232323;
   
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.cl {
    clear:both;
}

.MHcontainer {
    /* background: url(../img/infinite_bg.jpg) no-repeat right top; */
    padding-bottom: 2px;
    width: 550%;
}
.fixcontainer {
    margin: 0 auto;
    width: 1000px;
	height:115px;
}
.fixcontainer .logo {
    float: left;
    margin: 0;
    padding-top: 10px;
    width: 320px;
}
.fixcontainer p {
    background: url(../img/corner_bg.jpg) no-repeat left top #474641;
    color: #f9f9f9;
    float: right;
    font: 15px "FS Humana",Arial,Helvetica,sans-serif;
    height: 25px;
    margin: 0;
    padding: 5px 0 0 25px;
    width: 391px;
}
.mid_container{
	margin:auto;
	width:1000px;
	padding:25px 0;
}
.quoteBoxgreen{
	width:999px;
	height:42px;
	background:url(../img/endosement_img.jpg) top left no-repeat;
}
.quoteBoxgreenBottom{
	width:959px;
	background:url(../img/care_otcgreen.jpg) bottom left no-repeat;
	padding:10px 20px 45px 20px;
}

.quoteBoxgreenBottom table{
	font:bold 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#16622b;
}

.quoteBoxgreenBottom table tr td{
	font:bold 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#16622b;
}

.footer{
	margin:auto;
	background:url(../img/footerbg.jpg) left top repeat-x #fbfef7;
	padding:10px 0px;
	width:100%;
	display:block;
}
.footerIn{
	margin:auto;
	width:980px;
}
.footernav_circular{
	width:100%;
	float:left;
	padding-bottom:5px;
	color:#065a2d;
	font:bold 18px Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
}
.footernav_circular a{
	color:#065a2d;
	font:bold 18px Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.footernav{
	width:100%;
	float:left;
	color:#5a7c2c;
	font-size:11px;
	line-height:20px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	text-align:center;
	padding:2px 0px;
}
.footernav a{
	color:#5a7c2c;
	text-decoration:none;
	padding:0 5px 0 5px;
}
.footernav a:hover{
	color:#5a7c2c;
	text-decoration:underline;
	padding:0 5px 0 5px;
}
.disclaimer_nav{
	width:100%;
	float:left;
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}
.disclaimer_nav a{
	color:#000000;
	text-decoration:none;
	padding:0 3px 0 3px;
	line-height:20px;
}
.disclaimer_nav a:hover{
	color:#000000;
	text-decoration:underline;
}
.copyright{
	color:#908d85;
	font-size:10px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	padding-left:3px;
	line-height:16px;
	text-transform:uppercase;
}
.site_viewed{
	color:#076533;
	font-size:10px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
span.customStyleSelectBox { font-size:12px; background:url(../img/arrow_green.png) no-repeat center right; padding:2px 3px; border:0px solid #e7dab0; color:#16622b;	font-family:Tahoma, Arial, Helvetica, sans-serif;	font-weight:bold; margin:0px;}
span.customStyleSelectBox.changed { background-color: #ffffff; white-space:nowrap; overflow:hidden;}
.customStyleSelectBoxInner { padding:0px; margin:0px; }
.dropdown_otc{
	background:url(../img/txtfieldOTCbg.png) top center no-repeat;
	width:175px;
	height:18px;
	padding:3px;
	font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;
}
.dropdown_otc_dd{
	background:url(../img/dd_bg.png) top center no-repeat;
	width:230px;
	height:20px;
	padding:3px 5px;
	font-weight:bold;
	font-size: 13px;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #16622b;
	line-height:14px;
}
.email_f_white{
	background:url(../img/input_white.png) top center no-repeat;
	width:170px;
	height:20px;
	padding:3px 5px;
	font-weight:bold;
	font-size: 13px;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #16622b;
	line-height:14px;
	border:none;
}
.email_f{
	color:#16622b;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:162px;
	padding:0px 2px;
	font-size:12px;
	border:0px;
	background:none;
	line-height:18px;
	height:18px;
}
.email_f_2{
	color:#16622b;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	width:162px;
	padding:0px 1px;
	font-size:12px;
	border:0px;
	background:none;
	line-height:18px;
	height:18px;
}
.whitebox{
	background:#ffffff;
	border:1px solid #e1e2e1;
}
.tdborder{
	border-bottom:1px solid #afcc86;
	padding-bottom:20px;
}
.normal{
	font-weight:normal !important;
}
